@model Integration_Project.Models.Event

@{
    ViewData["Title"] = "Details";
}
@{
    var imgSrc = "Hello";
    if (Model.EventPicture != null)
    {
        var base64 = Convert.ToBase64String(Model.EventPicture);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    else
    {
        imgSrc = "https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?cs=srgb&dl=background-calm-clouds-747964.jpg&fm=jpg";
    }
}
<img src=@imgSrc alt="" height="200" width="300"/>
<h2>Details</h2>




<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Desciption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desciption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Premium)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Premium)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsWeatherDependent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsWeatherDependent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinParticipants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinParticipants)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxParticipants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxParticipants)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CanInviteParticipants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CanInviteParticipants)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
