@model Integration_Project.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VenueId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VenueId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Desciption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desciption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Premium)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Premium)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsWeatherDependent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsWeatherDependent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinParticipants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinParticipants)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxParticipants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxParticipants)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CanInviteParticipants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CanInviteParticipants)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
