@model Integration_Project.Models.StandardUser

@{
    ViewData["Title"] = "Index";
}

<h2>Hello, @Model.FirstName!</h2>

<div class="row">
    <div class="col-lg-6">
        @await Component.InvokeAsync("MyEvents", new { maxEvents = 5 })
    </div>
    <div class="col-lg-6">
        @await Component.InvokeAsync("EventsAroundMe", new { maxEvents = 5, includePrviate = false })
    </div>
</div>
<div class="row">
    @await Component.InvokeAsync("MultiPinMap", new { id = Model.Id})
    @*<script src="~/js/GoogleMaps.js"></script>
        <script>
                        function mapCallback() {
                            var name = "@Model.CurrentVenue.Name"
                            var address = "@Model.CurrentVenue.Address"
                            var latitude = @Model.CurrentVenue.Latitude
                            var longitude = @Model.CurrentVenue.Longitude
                            var map = initMap(name, address, latitude, longitude);

                            addMarker(latitude, longitude, name, address, map);
                        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.googleMapsKey&callback=mapCallback"
                async defer></script>*@
</div>


