@model Integration_Project.Models.Venue


@{
    for (int i = 1; i <= 5; i++)
    {
        string star;
        if (Model.OverallRating < i)
        {
            star = "glyphicon glyphicon-star-empty";
        }
        else
        {
            star = "glyphicon glyphicon-star";
        }
        //string star = "glyphicon glyphicon-star"+(Model.OverallRating < i ? " -empty" : "");
        @*<a href="#" name="Rank" data-rank="@i" data-Id="@Model.Id"><i class="@star"></i></a>*@
        <a asp-action="SetRating" asp-controller="Ratings" asp-route-id="@Model.Id" asp-route-rank=@i name="Rank" data-rank="@i" data-Id="@Model.Id"><i class="@star"></i></a>
    }
}

@{
    <p>The overall rating for @Model.Name is @Model.OverallRating</p>
}

@*@{using (Html.BeginForm("SetRating", "Ratings", new { Model.Id }))
        {

            @for (int i = 1; i <= 5; i++)
            {
                <input type="radio" id="Rank" name="Rank" value="@i" /> @i
            }
            <input type="submit" value="Submit" />
        }

    }*@