@model IEnumerable<Integration_Project.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>


    <div class="form-group">
        <input type="search" id="text" name="text" />
        <input type="submit" class="btn" />
    </div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Desciption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <a href="~/Views/Search/Index.cshtml">~/Views/Search/Index.cshtml</a>
            <th>
                @Html.DisplayNameFor(model => model.IsPrivate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Desciption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPrivate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
